/* Metro NPM */
@import "@olton/metroui/lib/metro.all.css";
/* Metro Dev */
/*
@import '../metro5.1.3/metro.css';
@import '../metro5.1.3/icons.css';
*/

@import 'calendar.css';
@import 'custom.css';
@import 'easymde/dist/easymde.min.css';

/* Why do I have to redefine these colors ? */
.button.primary {
  background-color: #0366D6 !important;
  border-color: #0366D6 !important;
  color: #fff !important;
  outline-color: #75b5fd !important;
}

.button.primary:hover {
  background-color: #024ea4 !important;
  border-color: #023671 !important;
}

/* Temporary fix for Metro file upload */
input[type="file"] {
    display: block;
    font-size: 16px;
    padding: 3px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #C0C0C0;

}

a.no-underline:hover {
    text-decoration: none;
}

