body {
  background-color: #ECF0F5;
}

.bg-chem {
  background-color:#ecf0f5 !important;
}

.bg-chem-hover:hover {
  background-color: #8C325E !important;
}

.navview .navview-pane {
  background-color: #ecf0f5; /* #7C123E; */
  color: #000000;
  font-size: 14px;
}
.navview .navview-content {
  padding-top: 52px;
  background-color: #ECF0F5;
}

.navview .pull-button {
  height: 52px;
  width: 52px;
}

.navview .navview-menu {
  background-color: #FFFFFF;
}

pre {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
    color: #212121;
    white-space: pre-wrap;
}

form {
     display:inline;
     margin:0px;
     padding:0px;
}

input[type="text"] {
    padding-left: 13px;
}
