:root {
    --logo-background: #f6f6f6;
    --logo-color: #292826;
    --navview-pane-width: 220px;
}

body {
    font-family: 'Noto Sans', sans-serif;
}


.dark-side {
    --logo-background: #2c2d30;
    --logo-color: #faf5f5;
}

.logo-container, .logo-container-big {
    background: var(--logo-background);
    color: var(--logo-color);
    display: flex;
    align-items: center;
    height: 52px;
    border-bottom: 1px solid var(--border-color);
}

.logo-container-big {
    width: 128px;
    height: 128px;
    flex-shrink: 0;
    border-radius: 50%;
}

.radio .caption-prepend, .radio .caption-append {
    font-size: 15px !important;
    margin: 0 10px !important;
}

input[type=text], input[type=password], input[type=email], input[type=date], input[type=datetime-local], input[type=search], input[type=tel], input[type=time], input[type=url], input[type=week], textarea, select, .metro-input, .file, .input, .textarea, .select, .tag-input, .spinner, .color-picker
{
    font-size: 15px !important;

}
.navview {
    &.compacted {
        .text-logo {
            display: none!important;
        }
    }

    .navview-content {
        overflow: hidden;
    }
}

#page-content {
    height: calc(100% - 52px);
    width: calc(100% - 2px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: .5rem;
}


@media screen and (min-width: 768px) {
    #page-content {
        padding: 1rem 1rem 4rem 1rem;
        height: calc(100% - 2px);
    }
}

.hljs {
    color: #383a42;
    background: #fafafa;
}

.dark-side {
    .hljs {
        color: #abb2bf;
        background: #282c34;
    }
}


/* this cause problems with EasyMDE
pre:not(.stay-on) {
    display: none;
}
*/

html.show-code {
    pre:not(.stay-on) {
        display: block;
    }
}


pre {
    position: relative;
}

.copy-code-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.demo-cell {
    height: 20px;
    border: 1px solid var(--border-color);
}

#content-title {
    display: none;
}

@media screen and (min-width: 500px) {
    #content-title {
        display: block;
    }
}
.navview-pane a {
    font-size: 15px;
}


pre {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
    color: #212121;
    white-space: pre-wrap;
}

form {
     display:inline;
     margin:0px;
     padding:0px;
}

input[type="text"] {
    padding-left: 13px;
}

textarea {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
}

td {
    white-space: normal !important; /* Autorise le retour à la ligne */
    word-wrap: break-word;          /* Permet de couper les mots trop longs */
    word-break: break-word;         /* Couper les mots s'ils sont trop longs */
}

/*  Wrapper */
.table .data-wrapper {
    white-space: normal !important; /* Autorise le retour à la ligne */
}